body {
  font-family: helvetica, arial;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#wrap-header-nav {
  background: grey url("../images/the-flatiron-building.png");
}

#wrap-header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrap-header-nav li {
  padding: 1em 0 0 0;
}

#wrap-header-nav a {
  color: white;
  padding: 0;
  margin: 0;
}
