body {
  font-family: helvetica, arial;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 14px;
}

#wrap-header-nav {
  background: grey url("../images/the-flatiron-building.png");
}

#wrap-header-nav li {
  padding: 1em 0 0 0;
}

#wrap-header-nav a {
  color: white;
  padding: 0;
  margin: 0;
}

#wrap-header-nav a:hover {
  text-decoration: none;
}

h3#designed {
  color: white;
  background: grey url("../images/the-flatiron-building.png");
}

#contact a {
  color: black;
}

#contact a:hover {
  text-decoration: none;
}

footer {
  background-color: dimgray;
  text-align: left;
  overflow: auto;
}

footer p {
  margin: 0;
  padding: 0.5em 0.4em 0.1em 0;
  font-size: 11px;
  color: white;
  float: left;
}

footer ul {
  float: left;
}

footer li {
  display: inline;
}

footer li a {
  color: white;
}
